/** 清除内外边距 **/
body,h1, h2, h2, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}
a{
	text-decoration: none;
	color: black;
}
img{
	display: block;
}
ul,ul li{
	list-style: none;
	
	cursor: pointer;
}
body{
	font-family: "微软雅黑";
}
#all li{
	overflow: hidden;
}
#all li img{
    display: block;
    -webkit-transition:all 1s;
	transition: all 1s;
}
#all li:hover img {
    transform: scale(1.1);
}
