*{margin: 0; padding: 0;}
ul li{list-style: none;}
a {text-decoration: none}
img{display: block;}

.header_top{width: 100%; height: 30px; background-color: #f2f2f2; margin: 0; padding: 0;}
.header_top1{width: 1000px; height: 30px; background-color: #f2f2f2; margin: 0 auto; }
.header_top2{float: left;margin-left: 14px }
.header_top3{float: right; margin-right: 95px}

.header_top2 ul li{float: left; font-size: 12px; line-height: 30px; height: 30px;font-family: Microsoft YaHei,Tahoma,Arial,Helvetica,sans-serif;}
.header_top2 ul li a{text-decoration: none; color: black; font-family: Microsoft YaHei,Tahoma,Arial,Helvetica,sans-serif;}
.header_top2 ul li span {padding: 0 20px; font-family: Microsoft YaHei,Tahoma,Arial,Helvetica,sans-serif;}
.header_top2 ul{height: 30px; }
.header_top3 ul li{float: left; font-size: 12px; line-height: 30px; height: 30px; font-family: Microsoft YaHei,Tahoma,Arial,Helvetica,sans-serif;}
.header_top3 ul li a{text-decoration: none; color: black; font-family: Microsoft YaHei,Tahoma,Arial,Helvetica,sans-serif;}
.header_top3 ul li span {padding: 0 20px; font-family: Microsoft YaHei,Tahoma,Arial,Helvetica,sans-serif;}
.header_top3 ul{height: 30px; }
.img1{margin-top: 3px}
.img2{margin-top: 6px}









.header_center{width: 100%; height: 91px;}
.header_center1{width: 1000px; height: 90px; margin:0 auto;}
.logo{width: 205px; height: 90px; float: left;}
.logo_txt{width: 795px; height: 90px; float: right;}
.logo_txt p{float: left; line-height: 118px; font-weight:bolder; font-size: 15px}




#header_bottom{width: 100%; height: 42px; background-color: black;position: relative; top:0; left: 0; z-index: 30;}
.header_bottom1{width: 1000px; height: 42px; margin: 0 auto; }
.uli li{float: left; line-height: 42px;}
.uli li a{float: left; color: white; font-size: 12px; padding: 0 27px; font-weight: bolder;}
.uli{float: left;}
.header_bottom2{float: right;width: 111px; height: 42px;overflow: hidden;background:url(../img/1212.gif) no-repeat 0 center;}
.header_bottom2 span{line-height: 42px; color: white; font-weight: bolder;}
.shopping_tu{margin-top: 1px; width: 23px; height: 22px}
.span1{padding-left: 40px;}
#div_nav1{width: 600px; height: 300px; position: absolute;top: 42px; left: 205px;background: white;display: none;}
#div_nav2{width: 600px; height: 300px; position: absolute;top: 42px; left: 285px; background:white ;display: none;}
#div_nav3{width: 600px; height: 300px; position: absolute;top: 42px; left: 365px; background:white ;display: none;}
#div_nav4{width: 600px; height: 300px; position: absolute;top: 42px; left: 445px; background:white ;display: none;}
#div_nav5{width: 600px; height: 300px; position: absolute;top: 42px; left: 505px; background: white;display: none;}
#div_nav6{width: 300px; height: 300px; position: absolute;top: 42px; left: 565px; background: white;display: none;}

#div_nav1 .div01{width: 299px; height:300px ; border-right: 1px solid #F2F2F2; float: left;}
#div_nav1 .div01 a{font-size: 12px; color: black; line-height: 24px;}
#div_nav1 .div01 h6{margin: 15px 0 0 30px;}
#div_nav1 .div01 p{position: relative; width: 200px; height: 25px; top: 217px; left: 180px;}
#div_nav1 .div02{width: 300px; height:300px ; float: right; }
#div_nav1 .div02 h6{margin: 15px 0 20px 30px;}
#div_nav1 .div02 .as{font-size: 12px; color: black;}


#div_nav2 .div03{width: 299px; height:300px ; border-right: 1px solid #F2F2F2; float: left;}
#div_nav2 .div03 a{font-size: 12px; color: black; line-height: 24px;}
#div_nav2 .div03 h6{margin: 15px 0 0 30px;}
#div_nav2 .div03 p{position: relative; width: 200px; height: 25px; top: 217px; left: 180px;}
#div_nav2 .div04{width: 300px; height:300px ; float: right; }
#div_nav2 .div04 h6{margin: 15px 0 20px 30px;}
#div_nav2 .div04 .as{font-size: 12px; color: black;}


#div_nav3 .div05{width: 299px; height:300px ; border-right: 1px solid #F2F2F2; float: left;}
#div_nav3 .div05 .as{font-size: 12px; color: black; line-height: 24px;}
#div_nav3 .div05 h6{margin: 15px 0 0 30px;}
#div_nav3 .div05 p{position: relative; width: 200px; height: 25px; top: 217px; left: 180px;}
#div_nav3 .div06{width: 300px; height:300px ; float: right; }
#div_nav3 .div06 h6{margin: 15px 0 20px 30px;}
#div_nav3 .div06 .as{font-size: 12px; color: black;}


#div_nav4 .div07{width: 299px; height:300px ; border-right: 1px solid #F2F2F2; float: left;}
#div_nav4 .div07 .as{font-size: 12px; color: black; line-height: 24px;}
#div_nav4 .div07 h6{margin: 15px 0 0 30px;}
#div_nav4 .div07 p{position: relative; width: 200px; height: 25px; top: 217px; left: 180px;}
#div_nav4 .div08{width: 300px; height:300px ; float: right; }
#div_nav4 .div08 h6{margin: 15px 0 20px 30px;}
#div_nav4 .div08 .as{font-size: 12px; color: black;}

#div_nav5 .div09{width: 299px; height:300px ; border-right: 1px solid #F2F2F2; float: left;}
#div_nav5 .div09 .as{font-size: 12px; color: black; line-height: 24px;}
#div_nav5 .div09 h6{margin: 15px 0 0 30px;}
#div_nav5 .div09 p{position: relative; width: 200px; height: 25px; top: 217px; left: 180px;}
#div_nav5 .div10{width: 300px; height:300px ; float: right; }
#div_nav5 .div10 h6{margin: 15px 0 20px 30px;}
#div_nav5 .div10 .as{font-size: 12px; color: black;}


#div_nav6 .div11{width: 299px; height:300px ; float: left;}
#div_nav6 .div11 .as{font-size: 12px; color: black; line-height: 24px;}
#div_nav6 .div11 h6{margin: 15px 0 0 30px;}
#div_nav6 .div11 p{position: relative; width: 200px; height: 25px; top: 217px; left: 180px;}





.footer{width: 100%; height: 235px; background: #F2F2F2; overflow: hidden; margin-bottom: 10px;}
.footer_top{width: 1000px; margin: 0 auto; margin-top: 40px; height: 60px;}
.footer_top ul li{ float: left; }
.footer_top ul li a{color: black; display: block; width: 165px; height: 60px; overflow: hidden; line-height: 95px; text-align: center; border-right: 1px solid black; font-size: 12px;}
.a1{background: url(../img/love.gif) no-repeat center 3px;}
.a2{background: url(../img/bus.gif) no-repeat center 3px ;}
.a3{background: url(../img/day.gif) no-repeat center 3px;}
.a4{background: url(../img/bi.gif) no-repeat center 3px;}
.a5{background: url(../img/zh.gif) no-repeat center 3px;}
#a6{background: url(../img/phone.gif) no-repeat center 3px; border-right: none;}

.footer_center{width: 1000px; height: 16px; margin: 0 auto; line-height: 65px; text-align: center;}
.footer_center a{color: black; font-size: 12px; padding: 0 15px; }

.footer_center1{width: 1000px; height: 16px; margin: 0 auto; line-height: 65px; text-align: center; margin-top: 30px; font-size: 12px;}


.footer_bottom{width: 1000px; height: 36px; margin: 30px auto; line-height: 65px;   font-size: 12px;}
.div_t2{float: right; margin-right: 432px;}
.div_t1{ float: left; margin-left: 403px;}

